body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#managerArea,
#workerArea {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

#signaturePad {
  border: 1px solid black;
  width: 100%;
  max-width: 300px;
  height: 150px;
  margin: 20px auto;
}

iframe {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  margin: 20px 0;
}

ul,
div {
  list-style: none;
  padding: 0;
}

ul li,
div li {
  padding: 8px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  text-decoration: underline;
}

#documentsBySociety,
#documentsByWorker,
#workerList {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.signed {
  color: green;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
}
